.first-font{
    font-family: 'Poppins', sans-serif
}
.second-font{
    font-family: 'Merriweather', serif;
    color: rgb(245, 83, 110);
}
p{
    font-size: 16px;
    color: rgb(83, 80, 80);
    font-family: 'Poppins', sans-serif
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding-left: 4%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 400px;
    padding-bottom: 200px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(60deg,pink,rgb(245,83,110));
    padding: 8px 15px;
    color: black;
}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}
.column{
    float: left;
    width: 30%;
    padding: 5px;
}
.row::after{
    content:"";
    clear: both;
    display: table;
}
#imagesss{
    height: 200px;
    border-left: 10px;
    padding-left: 10px;
    background-image: url("images/latest-work-bg.png");
}
.latest-work{
    text-align: center;
}
.last-work{
    background-image: url("images/footer-bg.png");
}
.middle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.last-part{
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    background-color: palevioletred;
    margin: 100px;
    color: white;
}
footer{
    text-align: center;
    color: gray;
}